*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: Arial;
}

a,
a:hover {
  text-decoration: none;
}
img {
  border-radius: 4px;
  max-width: 100%;
  display: block;
}
button:focus,
.btn:hover {
  outline: 0;
  color: unset;
}
p {
  margin-bottom: 10px;
}
.row {
  margin: 0;
}
