.search__movie{
    width: 85%;
    margin: 0 auto;
    margin-top: 3rem;
    min-height: 50vh;
    p{
        color: orangered;
        font-size: 20px;
        padding-top: 2rem;
        margin: 4rem 0;
        text-align: center;
        font-weight: bold;
    }
}